body{
background-color: rgba(243, 217, 168, 0.178);
}

/* display search result */
.card{
    background-color: rgba(156, 243, 202, 0.137);
    border-radius: 10px;
}
/* display-image */
.phone-card img{
    height: 380px;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
}
/* Error not searching message */
#not-search{
    display: none;
}
/* search item not found */
#search-notFound{
    display: none;
}
